.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  
  .system-change input {
    display: inline-block;
    padding: 14px;
    margin: 10px;
    padding-right: 79px;
    border-radius: 8px;
    border: none;
    background: #dddddd6b;
    font-size: 13px;
    font-weight: 500;
    color: #444;
    transition: .4s;
    outline: none;
    
  }
  
  
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .system-change input:hover{
   
    padding-right: 85px;
    transform-origin: top center;
    
  }
  .position-changing-upto {
    right: 51px;
    position: relative;
  }
  input.edit {
    display: inline-block;
    padding: 9px 39px;
    font-size: 12px;
    font-weight: 500;
    color: #767676;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
    margin-top:6px
  }
  input.edit:hover{
    padding-right: 180px;
    border:1px solid #ddd;
    transform-origin: top center;
  }
  /* .border {
    border: 1px solid #DDD;
    margin: 10px;
    padding: 22px 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    position: relative;
    left:290px;
    box-sizing: border-box;
    
  }
  .text{text-align: center;} */