.header img{
    height:75px;
    
}
.header{text-align: center;}

.left nav {
	background-color: #111;
	font-size: 17px;
	margin: 15px 0;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 0;
}

.left nav a{color:#FFF;
     line-height: 20px; 
     margin-right: 20px;
      padding: 8px; 
      display: inline-block;
    text-decoration: none;
    transition: .4s;}

    .left nav a:hover {
        background: #ab9e9e9e;
    }